# OS
.DS_Store
Thumbs.db
*~

# Editor temp files
.swp
*.pdb
*.log

# Environment
.env
.envrc

# IDE config files
.vscode/
.idea/
*.iml
.eclipse/
.settings/
.project
.classpath
nbproject/
*.suo
*.user
*.userosscache
*.sln.docstates
